@font-face {
    font-family: Caveat;
    src: url(fonts/Caveat/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: silkscreen;
    src: url(fonts/Silkscreen/Silkscreen-Regular.ttf);
}
nav, body, footer {
    background: linear-gradient(#000000, #20498B );
    margin: 10%;
}
#presentacion{
    width: 55%;
    margin-left: 35%;
    margin-top: 15%;
}
h1{
    font-size: 80px;
    font-family: Caveat;
    color: white;
    letter-spacing: 3px; /* Ajuste de espaciado */
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 
        0 0 5px #FFD700, 
        0 0 10px #FFD700, 
        0 0 20px #FFA500, 
        0 0 40px #FFA500;
    animation: glow 2s infinite alternate;
    
}
@keyframes glow {
  0% {
    text-shadow: 
        0 0 5px #FFD700, 
        0 0 10px #FFD700, 
        0 0 20px #FFA500;
}
50% {
    text-shadow: 
        0 0 10px #FFD700, 
        0 0 20px #FFA500, 
        0 0 40px #FF8C00;
}
100% {
    text-shadow: 
        0 0 5px #FFD700, 
        0 0 10px #FFD700, 
        0 0 20px #FFA500;
}
}
h2, h4, h5, h6{
    color: white;
    font-family: silkscreen;
    
    /*2A4D6F*/
}
.empleo{
  font-family: Caveat;
  color: white;
  letter-spacing: 3px; /* Ajuste de espaciado */
    font-size: 70px;
    text-align: center;
    filter: drop-shadow(0 0 5px #FFD700) 
    drop-shadow(0 0 10px #FFD700) 
    drop-shadow(0 0 20px #FFA500);
}
ul,li{
    color: white;
}
#menu_redes{
    position: center;
    margin-right: 45%;
    margin-top: 30px;
}
.redes{
    color: rgb(233, 218, 151);
    background: #13233a;
    border: none;
    cursor: pointer;
    font-size: 50px;
    margin-left: 7%; 
    border-radius: 25%;
    transition: all 0.7s;
    margin-top: 5%;

    
}
#Git{
    color: rgb(233, 218, 151);
    background: #13233a;
    border: none;
    cursor: pointer;
    font-size: 50px;
    margin-left: 8%;
    border-radius: 50%;
}
#Git:hover{
    color: black;
    border-radius: 60px;
    transition: all 0.7s;
    font-size: 60px;
    color: white;
    filter: drop-shadow(0 0 5px #FFD700) 
    drop-shadow(0 0 10px #FFD700) 
    drop-shadow(0 0 20px #FFA500);
}
#instagram:hover {
    color: white;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); 
    filter: drop-shadow(0 0 5px #FFD700) 
    drop-shadow(0 0 10px #FFD700) 
    drop-shadow(0 0 20px #FFA500);
    transition: all 0.7s;
    font-size: 60px;
    }
#linkedin:hover{
    background: white;
    color: #1256b6;
    border-radius: 10px;
    transition: all 0.7s;
    font-size: 60px;
    filter: drop-shadow(0 0 5px #FFD700) 
    drop-shadow(0 0 10px #FFD700) 
    drop-shadow(0 0 20px #FFA500);
}
#circle {
    margin: auto;
    margin-left: 52% ;
    width: 450px;
    height: 450px;

    border-radius: 50%; /* Hace que el div sea circular */
    position: absolute; /* Fija la posición del círculo en la pantalla */
    top: 8%; /* Ajusta la posición vertical */
    transform: translateX(-190%);
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra el video horizontalmente */
    align-items: center; /* Centra el video verticalmente */
    overflow: hidden; /* Esconde el contenido que sobresalga del círculo */
    filter: drop-shadow(0 0 5px white)  
    drop-shadow(0 0 10px white) 
    drop-shadow(0 0 20px #FFA500) 
  }
#nicolas {
    width: 1000px; /* Aumenta el ancho */
    height: 800px; /* Aumenta la altura */
    max-width: 100%; /* Asegura que el video no se salga del círculo */
    max-height: 100%;
    object-fit: cover; /* Ajusta el aspecto del video */
    border-radius: 50%; /* Hace que el video sea circular */
    transform: scaleX(-1);
}
.tecno{
    width: 100px;
    margin-left: 4%;
    font-size: 200px;
    color: #13233a;
    transition: color 4.5s ease;
}
@keyframes htmla {
    0% {
      color: #13233a; /* Blanco */
    }
    100% {
      color: orange; /* Azul claro */
    }
  }
  @keyframes css {
    0% {
      color: #13233a; /* Blanco */
    }
    100% {
      color: rgb(34, 150, 217); 
    }
}
    @keyframes jsa {
        0% {
          color: #13233a; 
        }
        100% {
          color: yellow; 
        }
    }

    @keyframes photo {
        0% {
          color: #13233a; 
        }
        100% {
            color: #00B5EE;
        }
    }

    @keyframes adobe {
        0% {
          color: #13233a; 
        }
        100% {
            color: #67028b;
        }
    }
    @keyframes figma {
        0% {
          color: #13233a; 
        }
        100% {
            color: rgb(8, 244, 244);
        }
    }

    @keyframes ai {
        0% {
          color: #13233a; 
        }
        100% {
            color: #FFB900;
        }
    }



  .clearfix{
    clear: both;
}
