@font-face {
    font-family: Caveat;
    src: url(fonts/Caveat/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: silkscreen;
    src: url(fonts/Silkscreen/Silkscreen-Regular.ttf);
}
nav, body, footer {
    background: linear-gradient(#171F2C, #20498B );
    margin: 10%;
}
#presentacion{
    width: 55%;
}
h1{
    font-size: 80px;
    font-family: Caveat;
    color: #eeb808;
    margin-top: 5px;
    margin-bottom: 5px;
    
    
}
h2, h4, h5, h6{
    color: #e5be3f;
    font-family: silkscreen;
    /*2A4D6F*/
}

ul,li{
    color: #EAE0C8;
}
#menu_redes{
    min-height: 5%;
    
}
.redes{
    color: #D4AF37;
    background: #1C3559;
    border: none;
    cursor: pointer;
    font-size: 50px;
    margin-left: 150px; /*no tocar*/
    border-radius: 25%;
    
}
#Git{
    color: #D4AF37;
    background: #1C3559;
    border: none;
    cursor: pointer;
    font-size: 50px;
    margin-left: 150px; /*no tocar*/
    border-radius: 50%;
}
#Git:hover{
    background: #D4AF37;
    color: #1C3559;
    border-radius: 50px;
    transition: all 0.7s;
}
.redes:hover{
    background: #D4AF37;
    color: #1C3559;
    border-radius: 10px;
    transition: all 0.7s;
}
.circle {
    margin: 5%;
    width: 450px;
    height: 450px;
    background-color: #D4AF37; /* Color del círculo */
    border-radius: 50%; /* Hace que el div sea circular */
    position: absolute; /* Fija la posición del círculo en la pantalla */
    top: 35%; /* Ajusta la posición vertical */
    right: 110px; /* Ajusta la distancia del círculo al borde derecho */
    transform: translateY(-50%); /* Centra el círculo verticalmente */
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra el video horizontalmente */
    align-items: center; /* Centra el video verticalmente */
    overflow: hidden; /* Esconde el contenido que sobresalga del círculo */
}
#nicolas {
    width: 1000px; /* Aumenta el ancho */
    height: 800px; /* Aumenta la altura */
    max-width: 100%; /* Asegura que el video no se salga del círculo */
    max-height: 100%;
    object-fit: cover; /* Ajusta el aspecto del video */
}


@media (max-width: 768px){
    #presentacion{
        width: 70%;
    }
    h1{
        font-size: 120px;
    }
    h2, h4, h5, h6{
        font-size: 25px;
    }
    ul, li{
        font-size: 20px;
    }
    button{
        width: 100px;
        margin-left: 0px;
    }
    #Git{
        font-size: 100px;
    }
}
@media (max-width: 992px){
    #presentacion{
        width: 90%;
    }
    h1{
        font-size: 150px;
    }
    h2, h4, h5, h6{
        font-size: 30px;
    }
    ul, li{
        font-size: 25px;
    }
    button{
        width: 150px;
    }
    #Git{
        font-size: 150px;
    }
}