@font-face {
    font-family: Caveat;
    src: url(fonts/Caveat/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: silkscreen;
    src: url(fonts/Silkscreen/Silkscreen-Regular.ttf);
}
nav, body, footer {
    background: linear-gradient(#000000, #20498B );
    margin: 10%;
}
#presentacion{
    width: 55%;
}
h1{
    font-size: 80px;
    font-family: Caveat;
    color: rgb(233, 218, 151); 
    margin-top: 5px;
    margin-bottom: 5px;
    
    
}
h2, h4, h5, h6{
    color: white;
    font-family: silkscreen;
    /*2A4D6F*/
}
.empleo{
    color: rgb(233, 218, 151);
}
ul,li{
    color: white;
}
#menu_redes{
    min-height: 5%;
    margin-top: 30px;
    
}
.redes{
    color: rgb(233, 218, 151);
    background: #13233a;
    border: none;
    cursor: pointer;
    font-size: 50px;
    margin-left: 8%; 
    border-radius: 25%;
    transition: all 0.7s;
    
}
#Git{
    color: rgb(233, 218, 151);
    background: #13233a;
    border: none;
    cursor: pointer;
    font-size: 50px;
    margin-left: 8%;
    border-radius: 50%;
}
#Git:hover{
    background: white;
    color: black;
    border-radius: 60px;
    transition: all 0.7s;
    font-size: 60px;
}
#instagram:hover {
    color: white;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); 
    transition: all 0.5s;
    font-size: 60px;
    }
#linkedin:hover{
    background: white;
    color: #1256b6;
    border-radius: 10px;
    transition: all 0.7s;
    font-size: 60px;
}
#circle {
    margin: 5%;
    margin-left: 48% ;
    width: 450px;
    height: 450px;
    background: linear-gradient(#6b581a, #EAE0C8 ) ; /* Color del círculo */
    border-radius: 50%; /* Hace que el div sea circular */
    position: absolute; /* Fija la posición del círculo en la pantalla */
    top: 35%; /* Ajusta la posición vertical */
    transform: translateY(-50%); /* Centra el círculo verticalmente */
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra el video horizontalmente */
    align-items: center; /* Centra el video verticalmente */
    overflow: hidden; /* Esconde el contenido que sobresalga del círculo */
}
#nicolas {
    width: 1000px; /* Aumenta el ancho */
    height: 800px; /* Aumenta la altura */
    max-width: 100%; /* Asegura que el video no se salga del círculo */
    max-height: 100%;
    object-fit: cover; /* Ajusta el aspecto del video */
}
.tecno{
    width: 100px;
    margin-left: 4%;
    font-size: 200px;
    color: #13233a;
}
#html:hover{
 color: orange;
}
#css:hover{
    color: rgb(34, 150, 217);
}
#js:hover{
color: yellow;
}

#tecnologias{
    margin-top: 50px;
    margin-right: 20% ;
}