@media(max-width:1250px){
    body{
        margin: 5%;
        margin-top: 2%;
        width: auto;

    }
    #presentacion{
        width: 90%;
        margin: 0% auto;
        margin-top: 5%;
    }

    #circle{
        width: 350px;
        height: 350px;
        border-radius: 50%; /* Hace que el div sea circular */
        top: 35%; /* Ajusta la posición vertical */
        position: static;
        transform: translatex(-55%); /* Centra el círculo verticalmente */
    }
    #menu_redes{
        margin-top: 30px;
        margin: 0% auto;
        transform: translatex(22%);
    }
    .redes, #git{
        align-items: center;
        
    }
    .tecno{
        width: 30%;
        margin: 0% auto;
        align-items: center;
        font-size: 400%;
        transform: translatex(20%);
    }
    .container{
        flex-wrap: wrap; /* Para que las tarjetas se acomoden si no caben en una fila */
    }

}
@media(max-width:1000px){
    #circle{
        margin-top: 10%;
        width: 250px;
        height: 250px;
        border-radius: 50%; /* Hace que el div sea circular */
        top: 35%; /* Ajusta la posición vertical */
        position: static;
        transform: translatex(-55%); /* Centra el círculo verticalmente */
    }
    #menu_redes{
        margin-top: 10%;
        transform: translatex(12%);
    }
    h1{
        font-size: 60px;
    }
    .container{
        width: 80%;
        margin: 0% auto;
    }
    .card{
    width: 190px;
    margin: 10px auto;
    }
    .empleo{
        text-align: center;
    }
}