@media(max-width:1250px){
    body{
        margin: 5%;
        margin-top: 2%;
    }
    #presentacion{
        width: 90%;
        margin: 0% auto;
        margin-top: 5%;
    }
    #nombre{
        width: 90%;
        margin: 0% auto;
        font-size: 25%;

    }

    #circle{
        width: 350px;
        height: 350px;
        border-radius: 50%; /* Hace que el div sea circular */
        top: 35%; /* Ajusta la posición vertical */
        position: static;
        transform: translatex(-55%); /* Centra el círculo verticalmente */
    }
    #menu_redes{
        margin-top: 30px;
        margin: 0% auto;
        transform: translatex(15%);
    }
    .redes, #git{
        align-items: center;
        
    }
    .tecno{
        width: 30%;
        margin: 0% auto;
        font-size: 500%;
        transform: translatex(15%);
    }
}